@model ReservaQuadras.Models.ViewModels.PessoasViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Pessoa.PessoaID" />
            <div class="form-group">
                <label asp-for="Pessoa.Nome" class="control-label"></label>
                <input asp-for="Pessoa.Nome" class="form-control" />
                <span asp-validation-for="Pessoa.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.CPF" class="control-label"></label>
                <input asp-for="Pessoa.CPF" class="form-control" />
                <span asp-validation-for="Pessoa.CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Vinculo" class="control-label"></label>
                @Html.DropDownListFor(d => d.Pessoa.Vinculo, new SelectList(Model.Vinculos, "Nome", "Valor", new { Model.Pessoa.Vinculo }))
                <span asp-validation-for="Pessoa.Vinculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pessoa.Email" class="control-label"></label>
                <input asp-for="Pessoa.Email" class="form-control" />
                <span asp-validation-for="Pessoa.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
